:root {
/*  --color-orange: #ffa50080; */
/*  --custom-color: 255,165,0;*/
/*  --custom-color: 192, 57, 43;*/
  --custom-color: 211, 84, 0;
  --color-primary: 59, 113, 202;
  --color-secondary: 159,166,178;
  --color-success: 20,164,77;
  --color-danger: 220, 76, 76;
  --color-warning: 228,161,27;
  --color-info: 84,180,211;
  --color-ligth: 251,251,251;

    --color-theme-500: 32, 33, 36;
    --color-theme-900: 30, 31, 34; 
    --cor-fonte: 159,166,178;
    --cor-da-borda: 53, 56, 59;

}

:root.light-mode {
  --color-theme-500: 235,235,235;
  --color-theme-900: 223,223,223;
  --cor-fonte: 37,37,37;
  --cor-da-borda: 159,166,178;
}

/*--------------------------------------------------------------*/
/* HELPERS*/
/*--------------------------------------------------------------*/
.hide {
  display: none;
}
.hide-me {
  display: none;
}
.larg-max {
  max-width: 1000px!important;
}
.larg-max-form {
  max-width: 550px!important;
}

.alert-dismissible {
  z-index: 99999!important;
  width: 100%!important;
  top: 60px;
}
/*--------------------------------------------------------------*/
/* THEME BACKGROUND */
/*--------------------------------------------------------------*/
.myTheme-900 {
   background-color: rgb(var(--color-theme-900))!important;
   color: rgb(var(--cor-fonte))!important;
}
.myTheme-500 {
  background-color: rgb(var(--color-theme-500))!important;
  color: rgb(var(--cor-fonte))!important;
}

.form-helper {
  font-size: 12px!important;
}
/*--------------------------------------------------------------*/
/*NAVBAR*/
/*--------------------------------------------------------------*/
.navbar-expand-lg {
  background-color: rgb(var(--color-theme-900));
  border-bottom: 1px solid rgb(var(--cor-da-borda));
}
.fa-bars,
.fa-circle-half-stroke {
  color: rgb(var(--cor-fonte))!important;
}
#navbar .nav-link {
  color: rgb(var(--cor-fonte))!important;
}
#navbar .nav-link:hover {
  color: rgba(var(--custom-color),0.5)!important;
}

.my-footer {
   background-color: rgb(var(--color-theme-500));
   border-top: 1px solid rgb(var(--cor-da-borda));
   color: rgb(var(--cor-fonte));
}
.my-footer span {
  color: rgb(var(--cor-fonte));
}

/*--------------------------------------------------------------*/
/*DROP-DOWN-MENU*/
/*--------------------------------------------------------------*/
.dropdown-menu,
.dropdown-menu:active,
.dropdown-menu:focus {
    background-color: rgb(var(--color-theme-900));
    border: 2px solid rgb(var(--cor-da-borda));
}
.dropdown-item,
.dropdown-item:active,
.dropdown-item:focus {
   background-color: rgb(var(--color-theme-900));
}
.dropdown-menu a,
.dropdown-menu a:active,
.dropdown-menu a:focus {
  background-color: rgb(var(--color-theme-900));
  color: rgb(var(--cor-fonte));  
}
.dropdown-menu li :hover {
  background-color: rgb(var(--color-theme-900));
  color: rgba(var(--custom-color),0.5)!important;
}

/*--------------------------------------------------------------------*/
/*TABS */
/*--------------------------------------------------------------*/

.nav-tabs .nav-link{
  width: 150px;
  background-color: rgb(var(--color-theme-900));
  color: rgb(var(--cor-fonte));
  border-bottom: none;
}

.nav-tabs .nav-item .nav-link.active {

  border-color: rgb(var(--custom-color));
  border-bottom: none;
  border-radius: 5px;
  background-color: rgba(var(--custom-color),0.1)!important;
  color: rgba(var(--custom-color),0.5)!important;
}
.nav-tabs .nav-link:hover{
  background-color: rgb(var(--color-theme-900));
  color: rgba(var(--custom-color),0.5)!important;
}

/*--------------------------------------------------------------*/
/*TABLES*/
/*--------------------------------------------------------------*/
.table-responsive {
  border: 1px solid rgb(var(--cor-da-borda))!important;
  color: rgb(var(--cor-fonte))!important;
  margin-bottom: 80px!important;
}
.table-responsive thead th {
  border-bottom: 1px solid rgb(var(--cor-da-borda))!important;
}

table tbody tr:hover {
 background-color: rgba(var(--custom-color),0.1)!important;
}

.table-dropdown tbody tr:hover{
 background-color: transparent!important;
}

details table {
  margin-top: 15px;
}
details .table-responsive {
   margin-bottom: 5px!important;
   padding: 5px!important;
}

details .table tr {
 padding: 0!important;
}
details table tbody tr:hover {
  background-color: rgba(var(--custom-color),0.1)!important;

}

details > summary {
  font-family: FontAwesome;
  list-style-type: '\f103';
}

details[open] > summary {
  font-family: FontAwesome;
  list-style-type: '\f102';
}

.card-border {
    border: 1px solid rgb(var(--cor-da-borda))!important;
}
/*--------------------------------------------------------------*/
/* BOTOES */
/*--------------------------------------------------------------*/

.my-btn {
  width: 50px!important;
  background-color: rgb(var(--color-theme-500))!important;
  color: rgb(var(--cor-fonte));
  border: 1px solid rgb(var(--cor-da-borda));
}
.isdanger:hover {
  color: rgba(var(--color-danger),0.8)!important;
}
.bnt-entrar {
  width: 250px;
}

.btn-outline-light {
  min-width: 150px!important;
  border: 1px solid rgba(var(--custom-color),0.5);
  color: rgb(var(--cor-fonte));
}
.btn-outline-light:focus,
.btn-outline-light:hover {
  border: 1px solid rgb(var(--custom-color))!important;
  color: rgb(var(--cor-fonte));
  background-color: rgba(var(--custom-color),0.1);
}

.btn-outline-primary {
  min-width: 150px!important;
  border: 1px solid rgb(var(--color-primary));
}
.btn-outline-primary:focus,
.btn-outline-primary:hover {
  background-color: #3B71CA20!important;
}

.btn-outline-danger {
  min-width: 150px!important;
  border: 1px solid rgb(var(--color-danger));
}
.btn-outline-danger:focus,
.btn-outline-danger:hover {
  background-color: rgba(var(--color-danger),0.2)!important;
}
.btn-close:hover {
  background-color: rgb(var(--color-danger))!important;
}
.btn-add {
  background-color: rgba(var(--custom-color),0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: rgb(var(--cor-fonte));

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-add:hover {
  background-color: rgba(var(--custom-color),0.5);
}

.btn-table-cadastrar {
  min-width: 120px!important;
  border: 1px solid rgba(var(--custom-color),0.5);
  color: rgb(var(--cor-fonte));
}
.btn-table-cadastrar:focus,
.btn-table-cadastrar:hover {
  border: 1px solid rgb(var(--custom-color))!important;
  color: rgb(var(--cor-fonte));
  background-color: rgba(var(--custom-color),0.1);
}
/*--------------------------------------------------------------*/
/* ICONES */
/*--------------------------------------------------------------*/
.navbar-brand {
  color:rgba(var(--custom-color),0.8);
  pointer-events: none;"
}
.fa-pen-to-square, .fa-trash-can {
  color: rgb(var(--cor-fonte))!important;
}

.fa-trash-can:hover {
  color: rgba(var(--color-danger), 0.8)!important;
}
.fa-pen-to-square:hover {
  outline: 1px solid transparent!important;
  color: rgba(var(--custom-color),0.5)!important;
}
.iconDev {
  color: rgb(var(--custom-color))!important;
}


/*--------------------------------------------------------------*/
/* MODAL */
/*--------------------------------------------------------------*/
.modal-confirm {
  border: 1px solid rgb(var(--color-danger));
  background-color: rgb(var(--color-theme-500))!important;
/*  background-color: rgba(var(--color-danger),0.8)!important;*/
}

.modal-cat {
  border: 1px solid rgb(var(--custom-color));
  background-color: rgb(var(--color-theme-500))!important;
}


/*--------------------------------------------------------------*/
/* FORMULARIOS */
/*--------------------------------------------------------------*/
.form-select:focus-visible,
.form-select:active {
  border: 1px solid rgb(var(--custom-color))!important;
  outline: 2px solid transparent!important;
}

.form-outline {
  margin-bottom: 30px!important; 
}

.form-border {
  border: 1px solid rgb(var(--cor-da-borda))!important;
  margin-bottom: 80px!important;
}

.my-form {
   border: 1px solid rgb(var(--cor-da-borda))!important;
}

/*--------------------------------------------------------------*/
/* IMPUTS */
/*--------------------------------------------------------------*/
.myInputs {
  color: rgb(var(--cor-fonte))!important;
  border: 1px solid rgb(var(--cor-da-borda))!important;
  background-color: rgb(var(--color-theme-500));
  width: 100%;
  padding: 0.35rem;
  padding-left: 0.75rem;
  border-radius: 3px;
}

.myInputs:focus,
.myInputs:active {
  outline: 1px transparent;
  border: 1px solid rgb(var(--custom-color));
  color: rgb(var(--cor-fonte))!important;
}

.myInputs-invalid {
  border: 1px solid rgb(var(--color-danger))!important;
}










