:root {
  --color-orange: orange;
  --color-primary: #3B71CA;
  --color-secondary: #9FA6B2;
  --color-success: #14A44D;
  --color-danger: #DC4C64;
  --color-warning: #E4A11B;
  --color-info: #54B4D3;
  --color-ligth:#FBFBFB;
/*  --color-dark:#332D2D;*/
/*  --color-dark-ligth: #2d2828;*/
  --color-dark-ligth: #131313;
  --color-dark:#191919;
}
.nav-tabs .nav-link,
.nav-tabs .nav-link{
  background-color: var(--color-dark);
  color: var(--color-secondary);
}
.nav-tabs .nav-item .nav-link.active {
  color: var(--color-orange);!important;
  background-color: var(--color-dark);
  border-color: var(--color-orange);
  border: 1px solid var(--color-orange);
  border-radius: 5px;
}
.nav-tabs .nav-link:hover{
  background-color: var(--color-dark);
}


table tbody tr:hover {
  color: white!important;
  background-color: rgba(255,165,0,0.1)!important;
}
.bg-dark {
  background-color: var(--color-dark)!important;
}
.btn-outline-light {
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}
.btn-outline-primary {
  border: 1px solid var(--color-primary);
}
.btn-outline-danger {
  border: 1px solid var(--color-danger);
}

.form-select:focus-visible,
.form-select:active {
  border: 1px solid var(--color-orange)!important;
  outline: 2px solid transparent!important;
}

.btn-outline-light:focus,
.btn-outline-light:hover {
  border: 1px solid var(--color-orange)!important;
  color: var(--color-orange)!important;
  background-color: rgba(255,165,0,0.1)!important;
  outline: transparent;
}

.btn-outline-danger:focus,
.btn-outline-danger:hover {
  background-color: #DC4C6420!important;
}

.btn-outline-primary:focus,
.btn-outline-primary:hover {
  background-color: #3B71CA20!important;
}

.fa-pen-to-square:active,
.fa-pen-to-square:focus,
.fa-pen-to-square:hover {
  outline: 1px solid transparent!important;
  color: var(--color-orange)!important;
  outline: none!important;
}

.modal-confirm {
  border: 1px solid var(--color-danger);
  background-color: var(--color-dark)!important;
}


.hide-me {
  display: none;
}

.myInputs {
  width: 100%;
  border: 1px solid #9FA6B250;
  background-color: var(--color-dark-ligth);
  color: var(--color-ligth);
  padding: 0.35rem;
  padding-left: 0.75rem;
  border-radius: 3px;
}

.myInputs:focus,
.myInputs:active {
  outline: none;
  border: 1px solid var(--color-orange);
}

.myInputs-invalid {
  border: 1px solid var(--color-danger);
}

  
.btn-close:hover {
  background-color: var(--color-danger)!important;
}

.larg-max {
  max-width: 1000px!important;
}

.larg-max-form {
  max-width: 550px!important;
}

.dark-ligth {
  background-color: var(--color-dark-ligth);
}

.my-dropdown-menu {
  background-color: var(--color-dark);
  border: 1px solid var(--color-orange);
}
.my-dropdown-menu a {
  color: var(--color-secondary);  
}

.my-dropdown-menu li :hover {
  background-color: rgba(255,165,0,0.1);
  color: var(--color-orange)
}

.my-navbar li :hover {
  color: var(--color-orange)
}

.alert-dismissible {
  z-index: 99999!important;
  width: 100%!important;
  top: 60px;
}

.form-outline {
  margin-bottom: 35px!important;
}

.dataTable > thead > tr > th[class*="sort"]:before,
.dataTable > thead > tr > th[class*="sort"]:after {
    content: "" !important;
}

