:root {
  --color-orange: #ffa50080; /* hex organge*/
  --color-primary: #3B71CA;
  --color-secondary: #9FA6B2;
  --color-success: #14A44D;
  --color-danger: #DC4C64;
  --color-warning: #E4A11B;
  --color-info: #54B4D3;
  --color-ligth:#FBFBFB;


/*  DARK*/

/* --color-theme-500: 30, 30, 30;
 --color-theme-900: 25, 25, 25; 
 --cor-fonte: #9FA6B2;
 --cor-da-borda: #9FA6B250;*/

/* LIGTH*/

  --color-theme-500: 235,235,235;
  --color-theme-900: 223,223,223;
  --cor-fonte: #252525;
  --cor-da-borda: #9FA6B2;

}

/*NAVBAR*/
/*--------------------------------------------------------------*/
.navbar-expand-lg {
  background-color: rgb(25, 25, 25);
}
.fa-bars,
.fa-circle-half-stroke {
  color: #9FA6B2!important;
}
#navbar .nav-link {
  color: #9FA6B2!important;
}
.my-footer {
   background-color: rgb(25, 25, 25);
}
/*--------------------------------------------------------------*/
/*DROP-DOWN-MENU*/
/*--------------------------------------------------------------------*/
.dropdown-menu {
    background-color: rgb(25, 25, 25);
    border: 2px solid var(--color-orange);
}
.dropdown-item {
   background-color: rgb(25, 25, 25);
}
.dropdown-menu a {
  color: var(--color-secondary);  
}
.dropdown-menu li :hover {
  background-color: var(--color-theme-900)!important;
  color: var(--color-orange)
}
/*--------------------------------------------------------------------*/
/*TABS */
/*--------------------------------------------------------------*/
.nav-tabs .nav-link,
.nav-tabs .nav-link{
  background-color: rgb(var(--color-theme-900));
}
.nav-tabs .nav-item .nav-link.active {
  border-color: var(--color-orange);
  border: 1px solid var(--color-orange);
  border-radius: 5px;
  background-color: rgba(255,165,0,0.1)!important;
  color: var(--cor-fonte);
}
.nav-tabs .nav-link:hover{
  background-color: rgb(var(--color-theme-900));
/*  color: var(--color-orange);*/
}


/*--------------------------------------------------------------*/
/*TABLES*/
/*--------------------------------------------------------------*/
.table-responsive {
  border: 1px solid var(--cor-da-borda)!important;
  color: var(--cor-fonte)!important;
  margin-bottom: 80px!important;
}
/*.table-responsive tr:nth(2) {
  border: 1px solid var(--cor-da-borda)!important;
}*/

table tbody tr:hover {
 color: var(--cor-fonte)!important;
 background-color: rgba(255,165,0,0.1)!important;
}
.bg-dark {
   background-color: rgb(var(--color-theme-900))!important;
   color: var(--cor-fonte);
}
.btn-outline-light {
  border: 1px solid var(--color-secondary);
  color: var(--cor-fonte);
/*  color: var(--color-secondary);*/
}
.btn-outline-primary {
  border: 1px solid var(--color-primary);
}
.btn-outline-danger {
  border: 1px solid var(--color-danger);
}

.form-select:focus-visible,
.form-select:active {
  border: 1px solid var(--color-orange)!important;
  outline: 2px solid transparent!important;
}

.btn-outline-light:focus,
.btn-outline-light:hover {
  border: 1px solid var(--color-orange)!important;
  color: var(--cor-fonte)!important;
  background-color: rgba(255,165,0,0.1)!important;
  outline: transparent;
}

.btn-outline-danger:focus,
.btn-outline-danger:hover {
  background-color: #DC4C6420!important;
}

.btn-outline-primary:focus,
.btn-outline-primary:hover {
  background-color: #3B71CA20!important;
}

.fa-pen-to-square:active,
.fa-pen-to-square:focus,
.fa-pen-to-square:hover {
  outline: 1px solid transparent!important;
  color: var(--color-orange)!important;
  outline: none!important;
}

.modal-confirm {
  border: 1px solid var(--color-danger);
  background-color: rgb(var(--color-theme-900))!important;
}


.hide-me {
  display: none;
}

.myInputs {
  width: 100%;
  border: 1px solid #9FA6B250;
  background-color: rgb(var(--color-theme-500));
  padding: 0.35rem;
  padding-left: 0.75rem;
  border-radius: 3px;
  color: var(--cor-fonte)!important;
}

.myInputs:focus,
.myInputs:active {
  outline: none;
  border: 1px solid var(--color-orange);
  color: var(--cor-fonte)!important;
}

.myInputs-invalid {
  border: 1px solid var(--color-danger);
}

  
.btn-close:hover {
  background-color: var(--color-danger)!important;
}

.larg-max {
  max-width: 1000px!important;
}

.larg-max-form {
  max-width: 550px!important;
}

.dark-ligth {
  background-color: rgb(var(--color-theme-500));
}




.alert-dismissible {
  z-index: 99999!important;
  width: 100%!important;
  top: 60px;
}

.form-outline {
  margin-bottom: 35px!important;
 
}

.my-form {
   border:1px solid var(--cor-da-borda);
}
