{% extends "base.html" %}
{% block title %} ENTRAR {% endblock %}

{% block content %}
<div class="container py-5 h-100">

<form id='formEntrar' method="POST" class="form-outline form-white mb-4" action="" novalidate>
    {{ form.hidden_tag() }}

    <h2 align="center" class="fw-bold mb-1 text-uppercase text-white mb-5">Entrar</h2>
<!-- -------------------------------------------------- -->
<div class="form-outline mb-5">    

    {{ form.email(class='form-control border-0', autofocus=true) }}
    {{ form.email.label(class="form-label") }}

    {% if form.email.errors %}
    {% for e in form.email.errors %}
    <div class="form-helper ms-3 mt-1 text-danger">
    {{ e }}
    </div> 
    {% endfor %}
    {% endif %}
</div>
<!-- -------------------------------------------------- -->    
<div class="form-outline mb-5">    
    {{ form.senha(class='form-control border-0', autofocus=true) }}
    {{ form.senha.label(class="form-label") }}

    {% if form.senha.errors %}
    {% for e in form.senha.errors %}
    <div class="form-helper ms-3 mt-1 text-danger">
    {{ e }}
    </div> 
    {% endfor %}
    {% endif %}
</div>
    <button class="btn btn-outline-light" type="submit">Entrar</button>
</form>


{% with messages = get_flashed_messages() %}
  {% if messages %}

    {% for message in messages %}

      <p class="text-center note alert-danger alert-dismissible">{{ message }}</p>
    {% endfor %}

  {% endif %}
{% endwith %}

</div>

<script type="text/javascript">
var alerts = document.querySelectorAll('.alert-dismissible');

    alerts.forEach(function (alert) {
    setTimeout(function() {
        alert.classList.add('hide-me')
    }, 3000)
    })

</script>
{% endblock %}