{% extends 'base.html' %}
{% block title %} USUARIOS {% endblock %}
{% block content %}

<!-- ---------------------------------------------------------------------------------------------------------------------->
<form id='formCadastrarUsuario' method="POST" class="form-outline form-white pt-5" 
action="/usuarios" 
novalidate>
{{ form.hidden_tag() }}
{{ form.csrf_token }}
<h2 align="center" class="fw-bold mb-1 text-uppercase text-secondary mb-5">CADASTRAR USUÁRIOS</h2>
<div class="form-outline mb-5">    

{{ form.usuario(class='myInputs', placeholder= form.usuario.label.text) }}

{% if form.usuario.errors %}
{% for e in form.usuario.errors %}
<div class="form-helper ms-3 mt-1 text-danger">
{{ e }}
</div> 
{% endfor %}
{% endif %}
</div>

<div class="form-outline mb-5">    
{{ form.email(class='myInputs', placeholder= form.email.label.text) }}

{% if form.email.errors %}
{% for e in form.email.errors %}
<div class="form-helper ms-3 mt-1 text-danger">
{{ e }}
</div> 
{% endfor %}
{% endif %}
</div>

<div class="form-outline mb-5">    
{{ form.senha(class='myInputs', placeholder= form.senha.label.text) }}

{% if form.senha.errors %}
{% for e in form.senha.errors %}
<div class="form-helper ms-3 mt-1 text-danger">
{{ e }}
</div> 
{% endfor %}
{% endif %}
</div>

<div class="form-outline mb-5">    
{{ form.confirmar(class='myInputs', placeholder= form.confirmar.label.text) }}

{% if form.confirmar.errors %}
{% for e in form.confirmar.errors %}
<div class="form-helper ms-3 mt-1 text-danger">
{{ e }}
</div> 
{% endfor %}
{% endif %}
</div>

<input id='btnCadastrarUsuarios' class="btn btn-outline-light" data-backdrop="static" type="submit" value="Cadastrar">
</form>
<!-- ---------------------------------------------------------------------------------------------------------------------->



{% endblock %}