<!DOCTYPE html>
<html lang="pt-br" class="{{ 'light-mode' if session.get('theme') == 'light' }}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>{% block title %} ENTRAR {% endblock %}</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"/>

<link rel="icon"       type="image/svg+xml"  href="{{ url_for('static', filename='img/schmithausen.svg') }}">
<link rel="stylesheet" type="text/css"       href="{{ url_for('static', filename='css/mdb.min.css')      }}">
<link rel="stylesheet" type="text/css"       href="{{ url_for('static', filename='css/base.css')         }}">

</head>


<body class="myTheme-500">
<!-- *********************************************************** -->
<!-- FLASH MESSAGES -->
<!-- *********************************************************** -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div 
class="note alert-danger alert-dismissible alert-absolute fade show" 
id="alertExample" 
role="alert" 
data-mdb-color="secondary">
<p class="d-flex align-items-center justify-content-center m-0">
<i class="fas fa-biohazard fa-xl"></i>
&nbsp;
{{ message }}</p>
</div>
    {% endfor %}
  {% endif %}
{% endwith %}
<!-- *********************************************************** -->


<!-- Navbar -->
<nav id="navbar" class="autohide navbar navbar-expand-lg fixed-top myTheme-500">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand"><i class="fa-solid fa-dragon"></i>&nbsp;&nbsp;Schmithausen</a>
    <!-- Toggle button -->
    {% if user.is_authenticated %}
    <button class="navbar-toggler"
     type="button" 
     data-mdb-toggle="collapse" 
     data-mdb-target="#navbarSupportedContent" 
     aria-controls="navbarSupportedContent" 
     aria-expanded="false" 
     aria-label="Toggle navigation">
     <i class="fas fa-bars"></i>
    </button>
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 my-navbar">
        <!-- Link -->
        <li class="nav-item">
          <a class="nav-link" href="/comandas">Comandas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fluxo de Caixa</a>
        </li>
        <!-- Dropdown relatorios -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
            Relátorios
          </a>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#">Rel-1</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Rel-2</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Rel-3</a>
            </li>
          </ul>
        </li>
        <!-- Dropdown cacastros-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
            Cadastros
          </a>
          <!-- Dropdown Cadastros -->
          <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/produtos">Produtos</a>
            </li>
            <li>
              <a class="dropdown-item" href="/categorias">Categorias</a>
            </li>
            <li>
              <hr>
            </li>
            <li>
              <a class="dropdown-item" href="/clientes">Clientes</a>
            </li>
            <li>
              <a class="dropdown-item" href="/usuarios">Usuários</a>
            </li>
          </ul>
                      <li class="nav-item">
                      <a class="nav-link btn-sair" href="/logout">Sair</a>
                      </li>
        {% endif %}
        </li>
      </ul>

    </div>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- ------------------------------------------ -->
<!-- FIM NAVBAR -->
<!-- ------------------------------------------ -->


<!-- ------------------------------------------ -->
<!-- COMECO DOS BLOCOS -->
<!-- ------------------------------------------ -->
  {% block content %} 




  {% endblock %}
<!-- ------------------------------------------ -->
<!-- FIM DOS BLOCOS -->
<!-- ------------------------------------------ -->

<!-- Footer -->
<footer class="row text-center fixed-bottom my-footer">
  <div class="col text-center p-1" style="min-width: 250px">
   <small>
   {% block titlefooter %}
     <span class="iconDev">
           <i class="fa-solid fa-terminal fa-lg "></i>
     </span> 
     <span class="font-monospace" style="letter-spacing: 5px;">ERWIN STEIN</span>

   {% endblock %}  
   </small>   
    </div>

<div class="col text-center p-1 me-2" style="max-width: 60px;">
<a href="{{ url_for('views.toggle_theme', current_page=request.path) }}">
  <span>
  <i class="fa-solid fa-circle-half-stroke fa-lg"></i>
  </span>        
</div>
</footer>



<script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>

</body>
</html>
