<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>{% block title %} Entrar {% endblock %}</title>
<link rel="icon" href="{{ url_for('static', filename='img/schmithausen.svg') }}" type="image/svg+xml" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"/>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mdb.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
</head>


<body class="bg-dark">
<div class="container pt-5" >
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-dark fixed-top navbar-dark ">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" style="color: orange;" href="/"><i class="fa-solid fa-dragon"></i>&nbsp;&nbsp;Schmithausen</a>
    <!-- Toggle button -->
    <button class="navbar-toggler"
     type="button" 
     data-mdb-toggle="collapse" 
     data-mdb-target="#navbarSupportedContent" 
     aria-controls="navbarSupportedContent" 
     aria-expanded="false" 
     aria-label="Toggle navigation">
     <i class="fas fa-bars"></i>
    </button>
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Link -->
        <li class="nav-item">
          <a class="nav-link" href="/">Entrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/comandas">Comandas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fluxo de Caixa</a>
        </li>
        <!-- Dropdown relatorios -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
            Relátorios
          </a>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#">Rel-1</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Rel-2</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Rel-3</a>
            </li>
          </ul>
        </li>
        <!-- Dropdown cacastros-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
            Cadastros
          </a>
          <!-- Dropdown Cadastros -->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/produtos">Produtos</a>
            </li>
            <li>
              <a class="dropdown-item" href="/clientes">Clientes</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{url_for('usuarios.cadastrar')}}">Usuários</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<div class="container">  
  {% block content %} 

  {% endblock %}
</div>


<!-- Footer -->
<footer class="bg-dark text-center text-white fixed-bottom">
  <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2)">
    <small style="color:orange;">ERWIN GUILHERME STEIN&nbsp;&nbsp;©2023</small>
  </div>
</footer>
</div>
<!-- End your project here-->
<script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
<!-- Custom -->
<script type="text/javascript">
 // ************************************************************************************************** 
var alerts = document.querySelectorAll('.alert-dismissible');
var inputs = document.querySelectorAll('.myInputs')
var messages = document.querySelectorAll('.form-helper')
var forms = document.querySelectorAll('.form-outline')
// ESCONDE ALERTAS
alerts.forEach(function (alert) {
  setTimeout(function() {
      alert.classList.add('hide-me')
  }, 3000)
})
// ESCONDE MENSAGENS
messages.forEach(function (item) {
  setTimeout(function() {
      item.classList.add('hide-me')
  }, 1000)
})
// INPUT INVALIDO
inputs.forEach(function (item) {
  item.addEventListener('change', (e)=>{
    target = e.target;
    if (!target.checkValidity()) {
      target.classList.add('myInputs-invalid')
    } else {
       target.classList.remove('myInputs-invalid')
    }
});
});
// **************************************************************************************************
</script>

</body>
</html>
