{% extends "base.html" %} 
{% block title %} USUÁRIOS {% endblock %} 

{% block content %}


<div class="container pt-5">

<!-- *********************************************************** -->
<!-- FORM ENTRAR -->
<!-- *********************************************************** -->
<form id='cadatroUsuarios' 
method="POST"
class="form-outline form-white mb-4 mt-1 m-auto card bg-dark p-3 larg-max"
action="{{ url_for('views.cadastroUsuarios') }}" 
novalidate
>
{{ form.hidden_tag() }}
{{ form.csrf_token }}

<h2 align="center" class="fw-bold mb-1 text-uppercase text-secondary mb-3 h5">
<i class="fa-solid fa-user"></i>
CADASTRAR USUÁRIOS</h2>
<!-- *********************************************************** -->
<!-- INPUT NOME -->
<!-- *********************************************************** -->
<div class="form-outline">	
<i class="fa-solid fa-user trailing"></i>
{{ form.nome(class='myInputs form-control-sm', placeholder= form.nome.label.text, style='text-transform:uppercase') }}
<!-- ERROS -->
{% if form.nome.errors %}
{% for e in form.nome.errors %}
<div class="form-helper ms-3 text-danger">
{{ e }}
</div> 
{% endfor %}
{% endif %}
</div>
<!-- *********************************************************** -->

<!-- *********************************************************** -->
<!-- INPUT EMAIL -->
<!-- *********************************************************** -->
<div class="form-outline">
<i class="fa-solid fa-at trailing"></i>
{{ form.email(class='myInputs form-control-sm', placeholder= form.email.label.text) }}
<!-- ERROS -->
{% if form.email.errors %}
{% for e in form.email.errors %}
<div class="form-helper ms-3 mt-1 text-danger">
{{ e }}
</div> 
{% endfor %}
{% endif %}
</div>
<!-- *********************************************************** -->
<!-- INPUT SENHA -->
<!-- *********************************************************** -->
<div class="form-outline">    
<i class="fa-solid fa-key trailing"></i>
{{ form.senha(class='myInputs form-control-sm', placeholder= form.senha.label.text) }}
<!-- ERROS -->
{% if form.senha.errors %}
{% for e in form.senha.errors %}
<div class="form-helper ms-3 mt-1 text-danger">
{{ e }}
</div> 
{% endfor %}
{% endif %}
</div>
<!-- *********************************************************** -->
<!-- INPUT CONFIRMAR SENHA -->
<!-- *********************************************************** -->
<div class="form-outline">    
<i class="fa-solid fa-key trailing"></i>
{{ form.confirmar(class='myInputs form-control-sm', placeholder= form.confirmar.label.text) }}
<!-- ERROS -->
{% if form.confirmar.errors %}
{% for e in form.confirmar.errors %}
<div class="form-helper ms-3 mt-1 text-danger">
{{ e }}
</div> 
{% endfor %}
{% endif %}
</div>
<!-- *********************************************************** -->
<!-- BOTAO ENTRAR -->
<!-- *********************************************************** -->
<button class="btn btn btn-outline-light " type="submit">SALVAR</button>
</form>
</div>

{% endblock %}

{% block titlefooter %}
<span style="color:#9FA6B2">
<i class="fa-regular fa-user fa-sm"></i>
&nbsp;{{ user.first_name | upper }}
&nbsp;&nbsp;&nbsp;
<span style="color:#9FA6B2">
<i class="fa-regular fa-calendar fa-sm"> </i>
&nbsp;{{ data.strftime('%d/%m/%Y') }}
</span>
{% endblock %}

