{% extends "base.html" %} 
{% block title %} USUÁRIOS {% endblock %} 

{% block content %}


<div class="container pt-5">

<!-- *********************************************************** -->
<!-- FORM ENTRAR -->
<!-- *********************************************************** -->
<form id='cadatroUsuarios' 
method="POST"
class="form-outline form-white mb-4 mt-1 m-auto card bg-dark p-3 larg-max"
action="{{ url_for('views.cadastroUsuarios') }}" 
novalidate
>
{{ form.hidden_tag() }}
{{ form.csrf_token }}

<h2 align="center" class="fw-bold mb-1 text-uppercase text-secondary mb-3">CADASTRAR USUÁRIOS</h2>
<!-- *********************************************************** -->
<!-- INPUT NOME -->
<!-- *********************************************************** -->
<div class="form-outline mb-5">

	{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p 
      class="text-center note alert-danger alert-dismissible p-2 m-auto p-3 larg-max"
      >
      {{ message }}
      </p>
    {% endfor %}
  {% endif %}
{% endwith %}

	
{{ form.nome(class='myInputs', placeholder= form.nome.label.text) }}
<!-- ERROS -->
{% if form.nome.errors %}
{% for e in form.nome.errors %}
<div class="form-helper ms-3 mt-1 text-danger">
{{ e }}
</div> 
{% endfor %}
{% endif %}
</div>
<!-- *********************************************************** -->

<!-- *********************************************************** -->
<!-- INPUT EMAIL -->
<!-- *********************************************************** -->
<div class="form-outline mb-5">
{{ form.email(class='myInputs', placeholder= form.email.label.text) }}
<!-- ERROS -->
{% if form.email.errors %}
{% for e in form.email.errors %}
<div class="form-helper ms-3 mt-1 text-danger">
{{ e }}
</div> 
{% endfor %}
{% endif %}
</div>
<!-- *********************************************************** -->
<!-- INPUT SENHA -->
<!-- *********************************************************** -->
<div class="form-outline mb-5">    
{{ form.senha(class='myInputs', placeholder= form.senha.label.text) }}
<!-- ERROS -->
{% if form.senha.errors %}
{% for e in form.senha.errors %}
<div class="form-helper ms-3 mt-1 text-danger">
{{ e }}
</div> 
{% endfor %}
{% endif %}
</div>
<!-- *********************************************************** -->
<!-- INPUT CONFIRMAR SENHA -->
<!-- *********************************************************** -->
<div class="form-outline mb-5">    
{{ form.confirmar(class='myInputs', placeholder= form.confirmar.label.text) }}
<!-- ERROS -->
{% if form.confirmar.errors %}
{% for e in form.confirmar.errors %}
<div class="form-helper ms-3 mt-1 text-danger">
{{ e }}
</div> 
{% endfor %}
{% endif %}
</div>
<!-- *********************************************************** -->
<!-- BOTAO ENTRAR -->
<!-- *********************************************************** -->
<button class="btn btn-lg btn-outline-light " type="submit">CADASTRAR</button>
</form>
<!-- *********************************************************** -->
<!-- FLASH MESSAGES -->
<!-- *********************************************************** -->
<!-- {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p 
      class="text-center note alert-danger alert-dismissible p-2 m-auto p-3 larg-max"
      >
      {{ message }}
      </p>
    {% endfor %}
  {% endif %}
{% endwith %} -->
<!-- *********************************************************** -->
</div>


{% endblock %}

{% block titlefooter %}
<span style="color:#9FA6B2">
<i class="fa-regular fa-user fa-sm"></i>
&nbsp;{{ user.first_name | upper }}
&nbsp;&nbsp;&nbsp;
<span style="color:#9FA6B2">
<i class="fa-regular fa-calendar fa-sm"> </i>
&nbsp;{{ data.strftime('%d/%m/%Y') }}
</span>
{% endblock %}