{% extends "base.html" %}
{% block title %} Lista de categorias {% endblock %}
{% block content %}

<div class="container-fluid" style="min-height:100dvh;padding-top:100px">

    <div class="table-responsive w-100 card myTheme-900 larg-max m-auto" style="padding-bottom: 80px">

<table class="table table-dropdown table-borderless table-sm myTheme-900 ">
                    <thead>
                    <tr>
                    <p class="h4 p-3 ">Lista de categorias</p>
                    </tr>
                   
                    <tr>
<!--                     <th class="text-nowrap" scope="col">
                    <a href="/categorias_cadastrar" class="p-2 btn btn-sm btn-floating btn-add">
                    <i class="fa-solid fa-plus"></i>
                    </a>
                    </th> -->
                    <th>
                        <div class="d-flex">
                            <a href="/categorias_cadastrar" class="p-2 btn btn-sm btn-floating btn-add">
                            <i class="fa-solid fa-plus"></i></a>
                            <span class="h3 ms-2">Categorias</span>                            
                        </div>
                    </th>
                    </tr>
                    </thead>

                    <tbody id="tb-categorias">
                    {% for cat in categorias %}
                    <tr>
                        <td class="text-nowrap" scope="row"> 
                        <details>
                        <summary > {{ cat.nome }}</summary>
                        <table  class="mt-2 table-sm w-100 table-responsive myTheme-900">
                            <tbody>
                                {% for tam in tamanhos %}
                                {% if tam.cat_id == cat.id %}
                                <tr>

                                        <div class="input-group mt-3 mb-3">
                                        <button class="form-control-sm my-btn " type="button">
                                        <i class="fa-regular fa-trash-can fa-lg isdanger"></i>
                                        </button>
                                        <input
                                        type="text"
                                        class="form-control-sm myInputs"
                                        style="min-width: 150px;"
                                        value="{{ tam.nome }}"
                                        />
                                        <button class="form-control-sm my-btn" type="button">
                                        <i class="fa-regular fa-pen-to-square fa-lg"></i>
                                        </button>
                                        </div>


                                </tr>
                                {% endif %}
                                {% endfor %}                      
                                <tr>                                                       

                                        <div class="input-group">
                                        <input
                                        type="text"
                                        class="form-control-sm myInputs"
                                        placeholder="Novo tamanho ..."
                                        style="min-width: 150px;"
                                        />
                                            <button class="btn form-control-sm btn-table-cadastrar" type="button">
                                            NOVO
                                            </button>
                                        </div>
                                        </tr>                                                    
                            </tbody>   
                                                       
                        </table>
                        </details>

                        </td>
                    </tr>
                    {% endfor %}
            
                </tbody>

        </table>
    </div>
</div>

<script>
 
</script>

{% endblock %}

{% block titlefooter %}
<span>
    <i class="fa-regular fa-user fa-sm"></i>
    &nbsp;{{ user.first_name.split()[0] | upper }}
    &nbsp;&nbsp;&nbsp;
    <span>
        <i class="fa-regular fa-calendar fa-sm"> </i>
        &nbsp;{{ data.strftime('%d/%m/%Y') }}
    </span>
    {% endblock %}