{% extends "base.html" %} 
{% block title %} CLIENTES {% endblock %} 
{% block content %}

<div class="container-fluid"
style="height:100vh;padding-top:100px"> 

 <div class="table-responsive w-100 card bg-dark larg-max m-auto"
 style="padding-bottom: 40px">

  <table id="tb-clientes" class="table table-borderless table-sm bg-dark text-secondary">
              <thead>
              	<tr>
              		<th class="text-nowrap" scope="col" colspan="6">
                      <a href="/clientes_cadastrar" class="p-2 btn btn-sm btn-outline-light">
                          <i class="fa-solid fa-user-plus"></i>
                          Novo
                      </a>                       
                  </th>
              	</tr>
                <tr>
                  <th class="text-nowrap" scope="col">#</th>
                  <th class="text-nowrap" scope="col">Cliente</th>
                  <th class="text-nowrap" scope="col">Celular</th>
                  <th class="text-nowrap" scope="col">Desde</th>
                  <th class="text-nowrap" scope="col"></th>
                  <th class="text-nowrap" scope="col"></th>
                </tr>
              </thead>
    <tbody>
      {% for i in clientes %}
      <tr>
        <td class="text-nowrap" scope="row"> {{ i.id }} </td>
        <td class="text-nowrap" scope="row"> {{ i.nome }} </td>
        <td class="text-nowrap" scope="row"> {{ i.fone }} </td>
        <td class="text-nowrap" scope="row"> {{ i.data_criacao.strftime('%d/%m/%Y') }} </td>
   		
				<td class="text-center" style="width: 50px"> 
					<a 
          role="button"
          class="text-secondary"
          href="/clientes_atualizar/{{ i.id }}">
						      <i class="fa-regular fa-pen-to-square"></i>
					</a>					
				</td>
				<td class="text-center" style="width: 50px"> 
					<a class="text-danger" 
          href="/clientes_deletar/{{ i.id }}" 
          role="button">
						<i class="fa-regular fa-trash-can"></i>
					</a>
				</td>

      </tr>     
      {% endfor %}
    </tbody>

  </table>
  </div>
</div>

{% endblock %}

{% block titlefooter %}
<span style="color:#9FA6B2">
<i class="fa-regular fa-user fa-sm"></i>
&nbsp;{{ user.first_name | upper }}
&nbsp;&nbsp;&nbsp;
<span style="color:#9FA6B2">
<i class="fa-regular fa-calendar fa-sm"> </i>
&nbsp;{{ data.strftime('%d/%m/%Y') }}
</span>
{% endblock %}


