{% extends "base.html" %}
{% block title %} {{ c.nome | capitalize }} {% endblock %}

{% block content %}

{% set nome = c.nome %}
{% set fone = c.fone %}


<div class="pt-5 container-fluid background-container-form d-flex align-items-center justify-content-center"
  style="min-height: 100dvh;">

  <form method="POST" class="form-border form-outline form-white card myTheme-900 mt-5 mb-5 p-3 larg-max-form"
    action="/clientes_atualizar/{{ c.id }}" novalidate>
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}

    <h3 align="center" class="fw-bold mb-1 text-uppercase  mb-3 h5">
      <i class="fa-solid fa-square-pen"></i>&nbsp;&nbsp;&nbsp;ATUALIZAR CLIENTE
    </h3>
    <!-- *********************************************************** -->
    <!-- INPUT NOME -->
    <!-- *********************************************************** -->
    <div class="form-text">
      Nome
    </div>
    <div class="form-outline">
      <i class="fa-solid fa-user trailing"></i>
      {{ form.nome(class='myInputs form-control-sm', style='text-transform:uppercase', value=nome, autofocus='true') }}
      <!-- ERROS -->
      {% if form.nome.errors %}
      {% for e in form.nome.errors %}
      <div class="form-helper ms-3 text-danger">
        {{ e }}
      </div>
      {% endfor %}
      {% endif %}
    </div>
    <!-- *********************************************************** -->
    <!-- INPUT CELUAR -->
    <!-- *********************************************************** -->
    <div class="form-text">
      Celular
    </div>
    <div class="form-outline">
      <i class="fa-solid fa-phone trailing"></i>
      {{ form.fone(class='myInputs form-control-sm phone-mask', placeholder='(XX) X-XXXX-XXXX', value=fone) }}
      <!-- ERROS -->
      {% if form.fone.errors %}
      {% for e in form.fone.errors %}
      <div class="form-helper ms-3 mt-1 text-danger">
        {{ e }}
      </div>
      {% endfor %}
      {% endif %}
    </div>
    <!-- MASCARA TELEFONE -->
    <script src="{{ url_for('static', filename='js/imask.js') }}"></script>
    <script>
      // ---------------------------------------------------------------
      // MASK FONE
      // ---------------------------------------------------------------
      var phoneMask = IMask(
        document.querySelector('.phone-mask'), {
        mask: '(00) 0-0000-0000'
      });
    </script>
    <!-- *********************************************************** -->
    <!-- BOTOES -->
    <!-- *********************************************************** -->
    <div class="text-center">
      <input style="width:125px" type="submit" value="ATUALIZAR" class="btn btn-outline-light m-1" />
      <a style="width:125px" href="/clientes" class="btn btn-outline-primary m-1">CANCELAR</a>
      <a style="width:125px" class="btn btn-outline-danger m-1" data-mdb-toggle="modal"
        data-mdb-target="#confirmmodalClientes">EXCLUIR</a>
    </div>
  </form>
</div>
<!-- *********************************************************** -->
<!-- MODAL -->
<!-- *********************************************************** -->
<div class="modal top  " id="confirmmodalClientes" tabindex="-1" aria-hidden="true"
  data-mdb-backdrop="true" data-mdb-keyboard="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-confirm">
      <div class="modal-header border-0">
        <h5 class="modal-title " >
          <i class="fa-regular fa-circle-question fa-2xl"></i>
          &nbsp;&nbsp;
          EXCLUIR</h5>
      </div>
      <div class="modal-body">  
       <span>{{ c.nome | upper}}</span>
      </div>
      <div class="modal-footer border-0">
        <a style="width:125px" type="button" class="btn btn-outline-primary m-1" data-mdb-dismiss="modal">
          CANCELAR
        </a>
        <a style="width:125px" type="button" class="btn btn-outline-danger m-1"
          href="/clientes_deletar/{{ c.id }}">EXCLUIR</a>
      </div>
    </div>
  </div>
</div>
<!-- *********************************************************** -->
<!-- MODAL -->
<!-- *********************************************************** -->

{% endblock %}

{% block titlefooter %}
<span>
  <i class="fa-regular fa-user fa-sm"></i>
  &nbsp;{{ user.first_name.split()[0] | upper }}
  &nbsp;&nbsp;&nbsp;
  <span>
    <i class="fa-regular fa-calendar fa-sm"> </i>
    &nbsp;{{ data.strftime('%d/%m/%Y') }}
  </span>
  {% endblock %}