{% extends "base.html" %} 
{% block title %} USUÁRIOS {% endblock %} 

{% block content %}


<div class="container pt-5">

<!-- *********************************************************** -->
<!-- FORM ENTRAR -->
<!-- *********************************************************** -->
<form id='cadatroUsuarios' 
method="POST"
class="form-outline form-white mb-4 mt-1 m-auto card bg-dark p-3 larg-max"
action="{{ url_for('views.cadastroClientes') }}" 
novalidate
>
{{ form.hidden_tag() }}
{{ form.csrf_token }}

<h2 align="center" class="fw-bold mb-1 text-uppercase text-secondary mb-3 h5">
<i class="fa-solid fa-user-group"></i>
CADASTRO DE CLIENTES</h2>
<!-- *********************************************************** -->
<!-- INPUT NOME -->
<!-- *********************************************************** -->
<div class="form-outline">	
<i class="fa-solid fa-user trailing"></i>
{{ form.nome(class='myInputs form-control-sm', placeholder= form.nome.label.text, style='text-transform:uppercase', autofocus='true') }}
<!-- ERROS -->
{% if form.nome.errors %}
{% for e in form.nome.errors %}
<div class="form-helper ms-3 text-danger">
{{ e }}
</div> 
{% endfor %}
{% endif %}
</div>
<!-- *********************************************************** -->
<!-- INPUT CELUAR -->
<!-- *********************************************************** -->
<div class="form-outline">
<i class="fa-solid fa-phone trailing"></i>
{{ form.fone(class='myInputs form-control-sm phone-mask', placeholder='(XX) X-XXXX-XXXX') }}
<!-- ERROS -->
{% if form.fone.errors %}
{% for e in form.fone.errors %}
<div class="form-helper ms-3 mt-1 text-danger">
{{ e }}
</div> 
{% endfor %}
{% endif %}
</div>

<!-- *********************************************************** -->
<!-- BOTOES -->
<!-- *********************************************************** -->
<div class="text-center">
      <input style="width:125px" type="submit" value="CADASTRAR" class="btn btn-outline-light m-1" />
      <a     style="width:125px" href="/clientes" class="btn btn-outline-danger m-1">CANCELAR</a>
</div>

</form>
</div>


{% endblock %}

{% block titlefooter %}
<span style="color:#9FA6B2">
<i class="fa-regular fa-user fa-sm"></i>
&nbsp;{{ user.first_name | upper }}
&nbsp;&nbsp;&nbsp;
<span style="color:#9FA6B2">
<i class="fa-regular fa-calendar fa-sm"> </i>
&nbsp;{{ data.strftime('%d/%m/%Y') }}
</span>
{% endblock %}


