{% extends "base.html" %} 
{% block title %} COMANDAS {% endblock %} 
{% block content %}

<h1 class="pt-5 mt-5"> COMANDAS </h1>

<div class="table-responsive w-100 card myTheme-900 larg-max m-auto" style="padding-bottom: 40px">
    <table class="table table-borderless table-sm">
        <tr>
            <th>id</th>
            <th>cat</th>
            <th>desc</th>
            <th>tam</th>
            <th>user</th>
        </tr>
        {% for produto in dfProdutos %}
        <tr>
           <td>{{produto.id}}</td>
           <td>{{produto.categoria.nome}}</td>
           <td>{{produto.descricao}}</td>
           <td>{{produto.tamanho.nome}}</td>
           <!-- <td>{{produto.valor}}</td> -->
           <!-- <td>{{produto.data_criacao}}</td> -->
           <td>{{produto.usuario.first_name}}</td>   
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}

{% block titlefooter %}
<span>
<i class="fa-regular fa-user fa-sm"></i>
&nbsp;{{ user.first_name.split()[0] | upper }}
&nbsp;&nbsp;&nbsp;
<span>
<i class="fa-regular fa-calendar fa-sm"> </i>
&nbsp;{{ data.strftime('%d/%m/%Y') }}
</span>
{% endblock %}
