{% extends "base.html" %}
{% block title %} Schmithausen {% endblock %}
<!-- *********************************************************** -->
{% block content %}
<div class="d-flex align-items-center justify-content-center"
style="min-height: 100vh;">
<!-- *********************************************************** -->
<!-- FORM ENTRAR -->
<!-- *********************************************************** -->
<form
method="POST"
class="form-outline form-white card bg-dark p-3 larg-max-form me-3 ms-3"
action="/" 
novalidate
>
{{ form.hidden_tag() }}
{{ form.csrf_token }}

<h2 align="center" class="h5 mb-1 text-uppercase text-secondary mb-3">
<i class="fa-solid fa-right-to-bracket"></i>
Entrar</h2>

<!-- *********************************************************** -->
<!-- INPUT EMAIL -->
<!-- *********************************************************** -->
<div class="form-outline mb-5">
<i class="fa-solid fa-at trailing"></i>
{{ form.email(class='myInputs form-control-sm', placeholder= form.email.label.text, style='text-transform:lowercase') }}
<!-- ERROS -->
{% if form.email.errors %}
{% for e in form.email.errors %}
<div class="form-helper ms-3 mt-1 text-danger">
{{ e }}
</div> 
{% endfor %}
{% endif %}
</div>
<!-- *********************************************************** -->
<!-- INPUT SENHA -->
<!-- *********************************************************** -->
<div class="form-outline mb-5">   
<i class="fa-solid fa-key trailing"></i> 
{{ form.senha(class='myInputs form-control-sm', placeholder= form.senha.label.text) }}
<!-- ERROS -->
{% if form.senha.errors %}
{% for e in form.senha.errors %}
<div class="form-helper ms-3 mt-1 text-danger">
{{ e }}
</div> 
{% endfor %}
{% endif %}
</div>
<!-- *********************************************************** -->
<!-- BOTAO ENTRAR -->
<!-- *********************************************************** -->
<button class="btn btn btn-outline-light " type="submit">Entrar</button>
</form>
</div>


{% endblock %}