{% extends "base.html" %}
{% block title %} ENTRAR {% endblock %}
<!-- *********************************************************** -->
{% block content %}
<div class="container pt-5">
<!-- *********************************************************** -->
<!-- FORM ENTRAR -->
<!-- *********************************************************** -->
<form id='formEntrar' 
method="POST"
class="form-outline form-white mb-4 mt-4 m-auto card bg-dark p-3 larg-max"
action="/" 
novalidate
>
{{ form.hidden_tag() }}
{{ form.csrf_token }}

<h2 align="center" class="h5 mb-1 text-uppercase text-secondary mb-3">
<i class="fa-solid fa-right-to-bracket"></i>
Entrar</h2>

<!-- *********************************************************** -->
<!-- INPUT EMAIL -->
<!-- *********************************************************** -->
<div class="form-outline mb-5">
{{ form.email(class='myInputs form-control-sm', placeholder= form.email.label.text) }}
<!-- ERROS -->
{% if form.email.errors %}
{% for e in form.email.errors %}
<div class="form-helper ms-3 mt-1 text-danger">
{{ e }}
</div> 
{% endfor %}
{% endif %}
</div>
<!-- *********************************************************** -->
<!-- INPUT SENHA -->
<!-- *********************************************************** -->
<div class="form-outline mb-5">    
{{ form.senha(class='myInputs form-control-sm', placeholder= form.senha.label.text) }}
<!-- ERROS -->
{% if form.senha.errors %}
{% for e in form.senha.errors %}
<div class="form-helper ms-3 mt-1 text-danger">
{{ e }}
</div> 
{% endfor %}
{% endif %}
</div>
<!-- *********************************************************** -->
<!-- BOTAO ENTRAR -->
<!-- *********************************************************** -->
<button class="btn btn btn-outline-light " type="submit">Entrar</button>
</form>

</div>
<!-- *********************************************************** -->
<!-- FLASH MESSAGES -->
<!-- *********************************************************** -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p 
      class="h6 z-index-master fixed-bottom text-center alert alert-danger alert-dismissible p-2 m-auto"
      role="alert"
      >
      {{ message }}
      </p>
    {% endfor %}
  {% endif %}
{% endwith %}
<!-- *********************************************************** -->
{% endblock %}