{% extends "base.html" %} 
{% block title %} Listar produtos {% endblock %} 
{% block content %}

<div class="container-fluid" style="min-height:100vh;padding-top:100px"> 
<div class="table-responsive w-100 card bg-dark larg-max m-auto" style="padding-bottom: 40px">

        <table  class="table table-borderless table-sm bg-dark text-secondary">
        <thead>
        <tr>
            <p class="h4 p-3">Lista de produtos</p>
        </tr>
        <tr>
                 <div class="p-3 pt-0">
                		<div class="form-outline mt-2 ps-2"
                		style="margin-bottom: 0!important;padding-bottom: 0!important;">
                		<i class="fa-solid fa-magnifying-glass trailing"></i>
                		<input type="text" 
                		style="text-transform:uppercase" 
                		id="inputPesquisarProdutos"
                		class="myInputs form-control-sm"
                		placeholder="Pesquisar..." 
                		/>
                		</div>
                </div>
        </tr>
        <tr>
                    <th class="text-nowrap" scope="col">
                    <a href="/produtos_cadastrar" class="p-2 btn btn-sm btn-outline-light">
                    <i class="fa-solid fa-plus"></i>
                    </a>  
                    </th>
                    <th class="text-nowrap" scope="col">#</th>
                    <th class="text-nowrap" scope="col" style="min-width: 280px;">Descrição</th>
                    <th class="text-nowrap" scope="col">Categoria</th>
                    <th class="text-nowrap" scope="col">Tamanho</th>
                    <th class="text-nowrap" scope="col">Valor</th>
                    <th class="text-nowrap" scope="col">Usuário</th>
                    <th class="text-nowrap" scope="col">Inclusão</th>
                    <th class="text-nowrap" scope="col"></th>
        </tr>
        </thead>
                    <tbody id="tb-produtos">
                    {% for i in produtos %}
                    <tr>
                        <td class="text-center" style="width: 50px"> 
                            <a role="button" class="text-secondary" href="/clientes_atualizar/{{ i.id }}">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>					
                        </td>
                        <td class="text-nowrap" scope="row"> {{ i.id }} </td>
                        <td class="text-nowrap" scope="row"> {{ i.descricao }} </td>
                        <td class="text-nowrap" scope="row"> {{ i.categoria }} </td>
                        <td class="text-nowrap" scope="row"> {{ i.tamanho }} </td>
                        <td class="text-nowrap" scope="row"> {{ i.valor }} </td>
                        <td class="text-nowrap" scope="row"> {{ i.user_id }} </td>
                        <td class="text-nowrap" scope="row"> {{ i.data_criacao.strftime('%d/%m/%Y') }} </td>
                    </tr>     
                    {% endfor %}
                    </tbody>
        </table>

</div>
</div>


{% endblock %}

{% block titlefooter %}
<span style="color:#9FA6B2">
<i class="fa-regular fa-user fa-sm"></i>
&nbsp;{{ user.first_name.split()[0] | upper }}
&nbsp;&nbsp;&nbsp;
<span style="color:#9FA6B2">
<i class="fa-regular fa-calendar fa-sm"> </i>
&nbsp;{{ data.strftime('%d/%m/%Y') }}
</span>
{% endblock %}