{% extends "base.html" %}
{% block title %} Listar produtos {% endblock %}
{% block content %}

<div class="container-fluid" style="min-height:100dvh;padding-top:100px">
  <div class="table-responsive w-100 card myTheme-900 larg-max m-auto" style="padding-bottom: 40px">

   <table class="table table-borderless table-sm myTheme-900 ">
    <thead>
      <tr>
        <h2 class="p-3 ">Lista de produtos</h2>
      </tr>
      <tr>
        <!-- Tabs navs -->
        <!-- onclick="pesquisarTabelaProdutosPorCategoria('')"  -->
        <div class="form-control-sm">
          <ul class="nav nav-tabs mb-3 myTheme-900">
            <li class="p-1 nav-item myTheme-900">
              <a class="nav-link active p-2"
              role="button"
              aria-selected="true"
              href="/filtro_produtos/todos">
              <i class="fas fa-chart-pie fa-fw me-2 me-2"></i>TODOS
              </a>
            </li>
            {% for cat in categorias %}
            <li class="p-1 nav-item myTheme-900">
              <a class="nav-link  p-2" 
              role="button"
              aria-selected="false"
              href="/filtro_produtos/{{ cat.id }}">
              <i class="fa-solid fa-list-check"></i>&nbsp;&nbsp;&nbsp;{{ cat.nome }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <!-- Tabs navs -->
      </tr>
      <tr>

        <div class="p-3 pt-0">
          <div class="form-outline mt-2 ps-2" style="margin-bottom: 0!important;padding-bottom: 0!important;">
            <i class="fa-solid fa-magnifying-glass trailing"></i>
            <input type="text" style="text-transform:uppercase" id="inputPesquisarProduto"
            class="myInputs form-control-sm" placeholder="Pesquisar..."
            >
          </div>
        </div>

      </tr>
      <tr>
        <th class="text-nowrap" scope="col">
          <a href="/produtos_cadastrar" class="p-2 btn btn-floating btn-add">
            <i class="fa-solid fa-plus"></i>
          </a>
        </th>
        <th class="text-nowrap" scope="col">#</th>
        <th class="text-nowrap" scope="col">Categoria</th>
        <th class="text-nowrap" scope="col" style="min-width: 280px;">Descrição</th>
        <th class="text-nowrap" scope="col">Tamanho</th>
        <th class="text-nowrap" scope="col">Valor</th>
        <th class="text-nowrap" scope="col">Usuário</th>
        <th class="text-nowrap" scope="col">Inclusão</th>
        <!-- <th class="text-nowrap" scope="col"></th> -->
      </tr>
    </thead>
    <tbody id="tb-produtos">
      {% for i in produtos %}
      <tr>
        <td class="text-center" style="width: 50px">
          <a role="button" class=""
          href="/produtos_atualizar/{{ i.id }}/{{ i.categoria }}/{{ i.tamanho}}">
          <i class="fa-regular fa-pen-to-square"></i>
        </a>
      </td>
      <td class="text-nowrap" scope="row"> {{ i.id }} </td>
      {% for c in categorias %}
      {% if c.id == i.categoria | int %}
      <td class="text-nowrap" scope="row" style="min-width:80px"> {{ c.nome }}</td>
      {% endif %}
      {% endfor%}
      <td class="text-nowrap" scope="row"> {{ i.descricao }} </td>
      {% for t in tamanhos %}
      {% if t.id == i.tamanho | int %}
      <td class="text-nowrap" scope="row"> {{ t.nome }} </td>
      {% endif %}      
      {% endfor %}      

      <td class="text-nowrap" scope="row"> {{ "R$ {:,.2f}".format( i.valor ) | replace(".",",") }} </td>
      <td class="text-nowrap" scope="row"> {{ i.produto.first_name.split()[0] }} </td>
      <td class="text-nowrap" scope="row"> {{ i.data_criacao.strftime('%d/%m/%Y') }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
</div>



{% endblock %}

{% block titlefooter %}
<span>
  <i class="fa-regular fa-user fa-sm"></i>
  &nbsp;{{ user.first_name.split()[0] | upper }}
  &nbsp;&nbsp;&nbsp;
  <span>
    <i class="fa-regular fa-calendar fa-sm"> </i>
    &nbsp;{{ data.strftime('%d/%m/%Y') }}
  </span>
  {% endblock %}