{% extends "base.html" %} 
{% block title %} Cadastro de Produtos {% endblock %} 
{% block content %}


<div class="pt-5 container-fluid background-container-form d-flex align-items-center justify-content-center"
style="min-height: 100dvh;">
<!-- *********************************************************** -->
<!-- FORM ENTRAR -->
<!-- *********************************************************** -->
<form id='cadastroProdutos'  
method="POST"
class="form-outline form-white card bg-dark mt-5 mb-5 p-3 larg-max-form"
action="{{ url_for('views.cadastroProdutos') }}" 
novalidate >

{{ form.hidden_tag() }}
{{ form.csrf_token }}

<h2 align="center" class="fw-bold mb-1 text-uppercase text-secondary mb-3 h5">
<i class="fa-solid fa-user-plus"></i>CADASTRO DE PRODUTOS</h2>

<div class="row">
       <div class="col-sm-8">
              <!-- *********************************************************** -->
              <!-- INPUT CATEGORIA  -->
              <!-- *********************************************************** -->
              <div class="form-text">
              Categoria
              </div>
              <div class="pb-5">  
              {{ form.categoria(
              class='myInputs form-control-sm',
              style='text-transform:uppercase', 
              id='categorias',
              autofocus='true')
              }}

              {% if form.categoria.errors %}
              {% for e in form.categoria.errors %}
              <div class="form-helper ms-3 text-danger">
              {{ e }}
              </div> 
              {% endfor %}
              {% endif %}
              </div>

      </div>
      <div class="col">
              <!-- *********************************************************** -->
              <!-- INPUT TIPO/TAMANHO  -->
              <!-- *********************************************************** -->

              <div class="form-text">
              Tipo/Tamanho
              </div>
              <div class="pb-5">  

              <select class="myInputs form-control-sm"
              style='text-transform:uppercase'
              id="tamanhos"
              name="tamanho">
              {% for t in espetos %}
                <option value="{{ t.id }}">{{ t.nome }}</option> 
              {% endfor %}
              </select>


              </div>
              
    </div>
</div>
<div class="row"> 
    <div class="col-sm-8">
              <!-- *********************************************************** -->
              <!-- INPUT DESCRICAO -->
              <!-- *********************************************************** -->
              <div class="form-text">
              Descrição
              </div>
              <div class="form-outline">	
              <i class="fa-solid fa-square-pen trailing"></i>
              {{ form.descricao(
              class='myInputs form-control-sm',
              style='text-transform:uppercase')
              }}
              <!-- ERROS -->
              {% if form.descricao.errors %}
              {% for e in form.descricao.errors %}
              <div class="form-helper ms-3 text-danger">
              {{ e }}
              </div> 
              {% endfor %}
              {% endif %}
              </div>
    </div>
    <div class="col">
              <!-- *********************************************************** -->
              <!-- INPUT VALOR -->
              <!-- *********************************************************** -->
              <div class="form-text">
              Valor
              </div>
              <div class="form-outline">  
              <i class="fa-solid fa-brazilian-real-sign trailing"></i>
              {{ form.valor(
              class='myInputs form-control-sm',
              style='text-transform:uppercase',
              id='valor') 
              }}
              <!-- ERROS -->
              {% if form.valor.errors %}
              {% for e in form.valor.errors %}
              <div class="form-helper ms-3 text-danger">
              {{ e }}
              </div> 
              {% endfor %}
              {% endif %}
              </div>

    </div>
</div>
<!-- *********************************************************** -->
<!-- BOTOES -->
<!-- *********************************************************** -->
<div class="row">
                <div class="text-center">
                      <input style="width:125px" type="submit" value="CADASTRAR" class="btn btn-outline-light m-1" />
                      <a     style="width:125px" href="/produtos" class="btn btn-outline-primary m-1">CANCELAR</a>
                </div>
</div>

</form>
</div>


<script>
  let categorias_selec = document.getElementById('categorias')
  let tamanhos_selec = document.getElementById('tamanhos')
  let inputValor = document.getElementById('valor')

 
  categorias_selec.selectedIndex = 0;
  tamanhos_selec.selectedIndex = 0;
  

  function formatarMoeda() {
        var elemento = document.getElementById('valor');
        var valor = elemento.value;

        valor = valor + '';
        valor = parseInt(valor.replace(/[\D]+/g, ''));
        valor = valor + '';
        valor = valor.replace(/([0-9]{2})$/g, ",$1");

        if (valor.length > 6) {
            valor = valor.replace(/([0-9]{3}),([0-9]{2}$)/g, ".$1,$2");
        }

        elemento.value = valor;
        if(valor == 'NaN') elemento.value = '';
    }



</script>

{% endblock %}

{% block titlefooter %}
<span style="color:#9FA6B2">
<i class="fa-regular fa-user fa-sm"></i>
&nbsp;{{ user.first_name.split()[0] | upper }}
&nbsp;&nbsp;&nbsp;
<span style="color:#9FA6B2">
<i class="fa-regular fa-calendar fa-sm"> </i>
&nbsp;{{ data.strftime('%d/%m/%Y') }}
</span>
{% endblock %}