{% extends "base.html" %} 
{% block title %} USUÁRIOS {% endblock %} 
{% block content %}


<div class="table-responsive larg-max m-auto pt-5 mb-5">

  <table class="table table-striped table-hover table-borderless table-sm table-dark ">
    <thead>
    	<tr>
    		<th colspan="5" class="text-nowrap" scope="col">
            <a href="/usuarios_cadastrar" class="p-2 btn btn-sm btn-outline-light">
                <i class="fa-solid fa-user-plus"></i>
                &nbsp;&nbsp;NOVO USUÁRIO
            </a>        
    	</tr>
      <tr>
        <th class="text-nowrap" scope="col">#</th>
        <th class="text-nowrap" scope="col">Usuário</th>
        <th class="text-nowrap" scope="col">Email</th>
        <th class="text-nowrap" scope="col"></th>
        <th class="text-nowrap" scope="col"></th>
      </tr>
    </thead>
    <tbody>
	{% for us in users %}
      <tr>
        <td scope="row" class="text-nowrap">{{ us.id }}</td>
        <td scope="row" class="text-nowrap">{{ us.first_name | upper }}</td>
        <td scope="row" class="text-nowrap">{{ us.email }}</td>
   		
				<td 
          scope="row" 
          class="text-center text-nowrap"
          style="width: 50px"> 
  				<a class="text-white"
          role="button"
          href="/usuarios_atualizar/{{ us.id }}">
  				<i class="fa-regular fa-pen-to-square ms-2 me-2"></i></a>					
				</td>
				<td 
          scope="row" 
          class="text-center text-nowrap" 
          style="width: 50px"> 
					<a class="text-danger" 
          role="button"
          href="/usuarios_deletar/{{ us.id }}" >
          <i class="fa-regular fa-trash-can ms-2 me-2"></i>
					</a>
				</td>

      </tr>     
	{% endfor %}
    </tbody>
    <tfoot>
    	<th colspan="5">

        </th>
          
    </tfoot>

  </table>
</div>



{% endblock %}

{% block titlefooter %}
<span style="color:#9FA6B2">
<i class="fa-regular fa-user fa-sm"></i>
&nbsp;{{ user.first_name.split()[0] | upper }}
&nbsp;&nbsp;&nbsp;
<span style="color:#9FA6B2">
<i class="fa-regular fa-calendar fa-sm"> </i>
&nbsp;{{ data.strftime('%d/%m/%Y') }}
</span>
{% endblock %}

