{% extends "base.html" %}
{% block title %} Lista de usuários {% endblock %}
{% block content %}

<div class="container-fluid" style="min-height:100dvh;padding-top:100px">

  <div class="table-responsive w-100 card myTheme-900 larg-max m-auto" style="padding-bottom: 40px">

    <table class="table table-borderless table-sm myTheme-900 ">
      <thead>
        <tr>
          <h2 class="p-3 ">Lista de usuários</h2>
        </tr>

        <tr>
          <th class="text-nowrap" scope="col">
            <a href="/usuarios_cadastrar" class="btn btn-primary btn-floating d-flex justify-content-center align-items-center">
              <i class="fa-solid fa-plus"></i>
            </a>
          </th>
          <th class="text-nowrap" scope="col">#</th>
          <th class="text-nowrap" scope="col" style="min-width: 280px;">Usuário</th>
          <th class="text-nowrap" scope="col">Email</th>
          <th class="text-nowrap" scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for us in users %}
        <tr>
          <td scope="row" class="text-center text-nowrap" style="width: 50px">
            <a class="" role="button" href="/usuarios_atualizar/{{ us.id }}">
              <i class="fa-regular fa-pen-to-square ms-2 me-2"></i></a>
          </td>

          <td scope="row" class="text-nowrap">{{ us.id }}</td>
          <td scope="row" class="text-nowrap">{{ us.first_name | upper }}</td>
          <td scope="row" class="text-nowrap">{{ us.email }}</td>

          <td>

          </td>
          <!-- 				<td 
          scope="row" 
          class="text-center text-nowrap" 
          style="width: 50px"> 
					<a class="text-danger" 
          role="button"
          href="/usuarios_deletar/{{ us.id }}" >
          <i class="fa-regular fa-trash-can ms-2 me-2"></i>
					</a>
				</td> -->

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock %}

{% block titlefooter %}
<span>
  <i class="fa-regular fa-user fa-sm"></i>
  &nbsp;{{ user.first_name.split()[0] | upper }}
  &nbsp;&nbsp;&nbsp;
  <span>
    <i class="fa-regular fa-calendar fa-sm"> </i>
    &nbsp;{{ data.strftime('%d/%m/%Y') }}
  </span>
  {% endblock %}