{% extends "base.html" %} 
{% block title %} USUÁRIOS {% endblock %} 

{% block content %}

{% set nome = u.first_name %}
{% set email = u.email %}
{% set senha = u.password %}

<div class="container pt-5">

            <form 
            method="POST"
            class="form-outline form-white mb-4 mt-1 m-auto card bg-dark p-3 larg-max" 
            action="/usuarios_atualizar/{{ u.id }}" 
            novalidate
            >

            <h2 align="center" class="fw-bold mb-1 text-uppercase text-secondary mb-3 h5">
            <i class="fa-solid fa-user"></i>
            ATUALIZAR USUÁRIO</h2>

            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <!-- *********************************************************** -->
            <!-- INPUT NOME -->
            <!-- *********************************************************** -->
            <div class="form-outline">	
            <i class="fa-solid fa-user trailing"></i>
            {{ form.nome(class='myInputs form-control-sm', placeholder= form.nome.label.text, style='text-transform:uppercase',value=nome, autofocus='true') }}
            <!-- ERROS -->
            {% if form.nome.errors %}
            {% for e in form.nome.errors %}
            <div class="form-helper ms-3 text-danger">
            {{ e }}
            </div> 
            {% endfor %}
            {% endif %}
            </div>
            <!-- *********************************************************** -->
            <!-- INPUT EMAIL -->
            <!-- *********************************************************** -->
            <div class="form-outline">
            <i class="fa-solid fa-at trailing"></i>
            {{ form.email(class='myInputs form-control-sm', placeholder=form.email.label.text, value=email) }}
            <!-- ERROS -->
            {% if form.email.errors %}
            {% for e in form.email.errors %}
            <div class="form-helper ms-3 mt-1 text-danger">
            {{ e }}
            </div> 
            {% endfor %}
            {% endif %}
            </div>
            <!-- *********************************************************** -->
            <!-- INPUT SENHA -->
            <!-- *********************************************************** -->
            <div class="form-outline">
            {{
            form.senha(class='myInputs form-control-sm', 
            placeholder=form.senha.label.text,
            type='text',
            value=senha)
            }}
            <!-- ERROS -->
            {% if form.senha.errors %}
            {% for e in form.senha.errors %}
            <div class="form-helper ms-3 mt-1 text-danger">
            {{ e }}
            </div> 
            {% endfor %}
            {% endif %}
            </div>
            <!-- *********************************************************** -->
            <!-- INPUT CONFIRMAR -->
            <!-- *********************************************************** -->
            <div class="form-outline">
            {{ 
            form.confirmar(hide_value=true, 
            class='myInputs form-control-sm', 
            type='text',
            value=senha) 
            }}
            <!-- ERROS -->
            {% if form.confirmar.errors %}
            {% for e in form.confirmar.errors %}
            <div class="form-helper ms-3 mt-1 text-danger">
            {{ e }}
            </div> 
            {% endfor %}
            {% endif %}
            </div>

            <div class="text-center">
                  <input style="width:125px" type="submit" value="ATUALIZAR" class="btn btn-outline-light m-1" />
                  <a     style="width:125px" href="/usuarios" class="btn btn-outline-danger m-1">CANCELAR</a>
            </div>

            </form>
</div>

{% endblock %}

{% block titlefooter %}
<span style="color:#9FA6B2">
<i class="fa-regular fa-user fa-sm"></i>
&nbsp;{{ user.first_name.split()[0] | upper }}
&nbsp;&nbsp;&nbsp;
<span style="color:#9FA6B2">
<i class="fa-regular fa-calendar fa-sm"> </i>
&nbsp;{{ data.strftime('%d/%m/%Y') }}
</span>
{% endblock %}

